<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission
        android:name="in.wptrafficanalyzer.locationcustommarkermapv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" /> <!-- <supports-screens -->
    <!-- android:anyDensity="true" -->
    <!-- android:largeScreens="true" -->
    <!-- android:normalScreens="true" -->
    <!-- android:smallScreens="true" /> -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SignupActivity"></activity>
        <activity android:name=".LinearLayoutActivity" />
        <activity android:name=".ConstraintLayoutActivity" />
        <activity android:name=".DiffrenceLayoutActivity" />
        <activity android:name=".AutoCompleteMapActivity" />
        <activity android:name=".MapSearchActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".ChangeCurrentLocationActivity" />
        <activity android:name=".NavigationMapActivity" />
        <activity android:name=".BarChartdynamicActivity" />
        <activity android:name=".PieChartActivity" />
        <activity android:name=".BarChartActivity" />
        <activity android:name=".SearchFilterActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".WishListActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".DowloadActivity" />
        <activity android:name=".ZoomImageActivity" />
        <activity android:name=".ImageSwipeActivity" />
        <activity android:name=".SharingActivity" />
        <activity android:name=".PagenationActivity" />
        <activity android:name=".CurrentLocationActivity" />
        <activity android:name=".MyLocationActivity" />
        <activity android:name=".FullAddressActivity" />
        <activity android:name=".PincodeActivity" />

        <service android:name=".GettingDeviceTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FetchAddressIntentService" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@drawable/ic_autorenew" /> -->
        <!-- <meta-data android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@color/green" /> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_autorenew" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="AIzaSyA7e-rAumkXuSQz8tZQ2_cR74V80cU2F0Y" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB-wxhefll0hMuhsbqjXK6Ih9FKpD26EJo" />
    </application>

</manifest>